<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr>
        <% if ripple.url.blank? %>
          <td><%= ripple.name %></td>
        <% else %>
          <td><a href="<%= ripple.url %>"><%= ripple.name %></a></td>
        <% end %>
        <td><%= ripple.message %></td>
        <td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ripple', new_ripple_path %>
