<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr>
        <% if ripple.url.blank? %>
          <td><%= ripple.name %></td>
        <% else %>
          <td><a href="<%= ripple.url %>"><%= ripple.name %></a></td>
        <% end %>
        <td><%= ripple.message.length > 200 ? ripple.message.truncate(197) : ripple.message %></td>
        <td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= first_frame_offset? ? 'Newest' : link_to('Newest', newest_path) %> |
  <%= first_frame_offset? ? 'Previous 10 Ripples' : link_to('Previous 10 Ripples', previous_10_path) %> |
  <%= last_frame_offset? ? 'Next 10 Ripples' : link_to('Next 10 Ripples', next_10_path) %> |
  <%= last_frame_offset? ? 'Oldest' : link_to('Oldest', oldest_path) %> |
  <%= link_to 'New Ripple', new_ripple_path %>
</div>
