<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <% if @ripple.url.blank? %>
    <%= @ripple.name %>
  <% else %>
    <a href="<%= @ripple.url %>"><%= @ripple.name %></a>
  <% end %>
</p>

<p>
  <strong>Message:</strong>
  <%= @ripple.message %>
</p>

<%= link_to 'Edit', edit_ripple_path(@ripple) %> |
<%= link_to 'Back', ripples_path %>
