<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="post">
  <div class="post-info">
    @ <span class="posted-time"><%= @ripple.created_at.strftime("%k:%M:%S") %></span>
    
    on <span class="posted-date"><%= @ripple.created_at.strftime("%Y-%m-%d") %></span>

    <span class="poster-name">
      <% if @ripple.url.blank? %>
        <%= @ripple.name %>
      <% else %>
        <a href="<%= @ripple.url %>"><%= @ripple.name %></a>
      <% end %>
    </span>
    
    posted:
  </div>

  <blockquote class="message-content"><pre><%= sanitize(@ripple.message) %></pre></blockquote>
</div>

<%= link_to 'Back', ripples_path %>
